/* normal size */
.bt-path-sel-normal {
  width: 3rem;
  height: 3rem;
}
.img-path-sel-normal {
  width: 1.2rem;
  height: 1.2rem;
}
/* small size */
.bt-path-sel-small {
  width: 2rem;
  height: 2rem;
}
.img-path-sel-small {
  width: 0.8rem;
  height: 0.8rem;
}
